body {
    background-color:aliceblue;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.plan {
    width: 500px;
    padding: 10px;
}

h1 {
    text-align: center;
}


input::placeholder {
    font-style: italic;
  }
  
.list {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.will_do{
    width: 150px;
    margin: 20px;
}

.done{
    width: 150px;
    margin: 20px;
}

p{
    text-align: center;
}

.complete-button{
    display: flex;
    justify-content: end;
}

.will_do li{
    text-decoration: dotted;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 5px;
    list-style-type: none; /* 기본 리스트 점 제거 */
    position: relative;
    padding-left: 20px; /* 점과 텍스트 사이 간격 */
}

.will_do li::before, .done::before {
    content: '•'; /* 점 기호 */
    position: absolute;
    left: 0; /* li 왼쪽에 위치 */
    font-size: 16px; /* 점 크기 */
    color: black; /* 점 색상 */
}

.will_do li, .done li{
    text-decoration: dotted;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 7px;
    list-style-type: none; /* 기본 리스트 점 제거 */
    position: relative;
    padding-left: 20px; /* 점과 텍스트 사이 간격 */
}

